## Setup and Loading Data

In [38]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [39]:
train = pd.read_csv("Train.csv", index_col="Applicant_ID")

train.head(2)

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
Applicant_ID,,,,,,,,,,,,,,,,,,,,,
Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.0,0.0,10689720.0,252072.0,4272776.0,11333126.0,...,0.392854,2.02,0.711632,0.0,0.0,charge,NaN,1.129518,0.044335,no
Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.0,0.0,898979.0,497531.0,9073814.0,2533168.0,...,0.314281,8.08,0.183584,NaN,0.0,charge,349.80573,1.620483,0.322436,no

In [40]:
test = pd.read_csv("Test.csv", index_col="Applicant_ID")

test.head(2)

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
Applicant_ID,,,,,,,,,,,,,,,,,,,,,
Apcnt_1000032,3236.0,0.34875,10.2006,0.0000,0.0,418564.0,418564.0,418564.0,540710.0,0.0,...,NaN,0.825000,1.01,0.800000,NaN,0.0,charge,NaN,0.000000,0.011221
Apcnt_1000048,3284.0,1.27360,2.9606,9.0198,0.0,0.0,9858816.0,49014.0,1510098.0,18308285.0,...,18.8415,0.507694,4.04,0.623248,1.0,0.0,lending,NaN,0.504974,0.043525

## Data Preprocessing

### Exploratory Data Analysis

In [41]:
pd.DataFrame(train.describe()).T

,count,mean,std,min,25%,50%,75%,max
form_field1,53471.0,3.491796e+03,1.884624e+02,2990.000000,3.358000e+03,3.484000e+03,3.620000e+03,3.900000e+03
form_field2,52156.0,5.507368e-01,8.209792e-01,0.000000,7.078750e-02,2.675750e-01,7.195125e-01,1.801505e+01
form_field3,55645.0,1.052225e+00,2.147768e+00,0.000000,0.000000e+00,6.200000e-02,1.282000e+00,5.737160e+01
form_field4,55645.0,8.519789e-01,3.157692e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,9.167220e+01
form_field5,55645.0,1.956317e+00,1.051240e+01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,4.077486e+02
form_field6,42640.0,6.244479e+05,1.433422e+06,0.000000,1.400400e+04,1.155330e+05,5.259280e+05,5.313546e+07
form_field7,50837.0,6.865210e+06,1.912729e+07,0.000000,6.869740e+05,2.704328e+06,6.993831e+06,2.158794e+09
form_field8,42640.0,2.626690e+06,3.927355e+06,0.000000,1.929440e+05,9.639420e+05,3.751516e+06,1.037397e+08
form_field9,47992.0,1.316002e+07,1.977963e+07,0.000000,1.368502e+06,5.506295e+06,1.694552e+07,3.200533e+08
form_field10,55645.0,1.185585e+07,2.669459e+07,0.000000,4.500730e+05,3.707559e+06,1.326101e+07,2.191361e+09
form_field11,24579.0,2.054715e+06,4.912980e+06,0.000000,2.172565e+05,6.986440e+05,1.964839e+06,1.707430e+08
form_field12,46105.0,2.771113e+06,4.544838e+06,0.000000,2.758010e+05,1.163110e+06,3.360182e+06,1.240439e+08
form_field13,50111.0,6.009944e+06,2.335893e+07,0.000000,1.921660e+05,1.605792e+06,5.593626e+06,2.457824e+09
form_field14,56000.0,6.914875e+07,2.713995e+09,0.000000,1.657646e+07,2.814143e+07,4.818738e+07,3.854990e+11
form_field15,33525.0,1.145041e+08,1.153842e+08,539543.000000,5.007636e+07,8.442428e+07,1.428735e+08,3.456119e+09
form_field16,42964.0,2.304255e-01,6.218333e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01
form_field17,44849.0,2.656915e-01,7.201984e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01
form_field18,45598.0,2.718321e-01,7.254342e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01
form_field19,55996.0,9.487999e-01,1.736454e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,2.800000e+01
form_field20,55645.0,1.031593e+00,1.785122e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e+00,2.900000e+01
form_field21,40146.0,8.650038e+01,5.344553e+01,0.255000,4.030500e+01,8.916750e+01,1.298925e+02,1.957875e+03
form_field22,35600.0,6.628316e+03,5.661059e+03,0.000000,1.068668e+03,5.976225e+03,1.135417e+04,9.720000e+04
form_field23,27877.0,6.452875e+03,5.739969e+03,0.000000,7.971450e+02,5.548935e+03,1.128000e+04,9.720000e+04
form_field24,42703.0,1.045585e+02,4.366707e+02,0.000000,1.486500e+01,6.066000e+01,1.147125e+02,3.186375e+04
form_field25,50550.0,2.624556e+03,1.964227e+03,0.000000,1.231500e+03,2.203500e+03,3.517500e+03,2.509350e+04
form_field26,48562.0,1.010655e+04,8.796472e+03,0.000000,3.375000e+03,8.214000e+03,1.414500e+04,7.327500e+04
form_field27,46701.0,6.190517e+03,5.390915e+03,0.000000,2.068000e+03,5.110000e+03,8.700000e+03,4.252200e+04
form_field28,55645.0,1.727432e+04,2.693074e+04,0.000000,6.000000e+01,4.860000e+02,6.077200e+04,6.077200e+04
form_field29,55645.0,1.651854e+04,9.666184e+03,0.000000,9.765000e+03,1.505700e+04,2.181000e+04,7.391400e+04
form_field30,30491.0,5.213247e+03,3.124491e+03,0.000000,2.312000e+03,5.658000e+03,7.726000e+03,2.555000e+04
form_field31,16592.0,1.085757e+04,6.049678e+03,0.000000,6.297000e+03,1.058400e+04,1.423500e+04,4.708500e+04
form_field32,50550.0,9.383453e+02,1.044597e+03,0.000000,1.940000e+02,5.980000e+02,1.332000e+03,2.130600e+04
form_field33,54744.0,1.392658e+01,1.520840e+01,0.166600,2.333400e+00,7.833400e+00,2.116660e+01,1.520000e+02
form_field34,55645.0,2.302453e-01,6.830629e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01
form_field35,32852.0,1.998661e-01,5.740017e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+01
form_field36,54005.0,1.285907e+01,1.062198e+01,2.000000,6.000000e+00,1.000000e+01,1.600000e+01,2.000000e+02
form_field37,50550.0,8.480435e+00,9.328810e+00,0.000000,2.000000e+00,6.000000e+00,1.200000e+01,1.060000e+02
form_field38,55645.0,8.601420e+00,7.969215e+00,0.000000,4.000000e+00,6.000000e+00,1.200000e+01,1.560000e+02
form_field39,51789.0,9.084941e-02,4.238022e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,2.100000e+01
form_field40,12271.0,1.477980e+02,4.508589e+01,0.021000,1.361918e+02,1.500000e+02,1.677540e+02,6.454500e+02
form_field41,17771.0,1.081174e+02,3.676577e+01,0.000000,8.705550e+01,1.184415e+02,1.374968e+02,2.550000e+02
form_field42,54677.0,3.682155e-01,4.128584e-01,0.000000,0.000000e+00,2.200000e-01,6.285730e-01,2.200000e+00
form_field43,55432.0,6.634511e+00,6.378946e+00,0.000000,2.020000e+00,5.050000e+00,1.010000e+01,9.191000e+01
form_field44,50617.0,5.633768e-01,1.969729e-01,0.048528,4.116720e-01,5.886480e-01,7.538400e-01,8.000000e-01
form_field45,24683.0,7.251955e-02,2.911457e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
form_field46,40096.0,9.537111e-02,3.352099e-01,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00
form_field48,35111.0,3.052449e+05,1.647757e+06,0.000000,7.710079e+01,3.181243e+02,1.153022e+03,5.321014e+07
form_field49,55645.0,1.049061e+00,1.806160e+00,0.000000,0.000000e+00,0.000000e+00,1.181754e+00,2.800000e+01
form_field50,44944.0,6.005862e+05,5.842405e+06,0.000000,4.560141e-02,1.703996e-01,4.993370e-01,2.307571e+08

In [42]:
train.describe(exclude=np.number)

       form_field47 default_status
count         56000          56000
unique            2              2
top          charge             no
freq          36373          42285

In [43]:
# sns.pairplot(train, hue='default_status')

### Checking & Encoding Categorical Columns

In [44]:
dict_ = {'charge': 1,
         'lending': 0}

train.form_field47 = train.form_field47.map(dict_)
test.form_field47 = test.form_field47.map(dict_)

train.default_status = train.default_status.map({'no': 0, 'yes': 1})

In [45]:
train.head(2)

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50,default_status
Applicant_ID,,,,,,,,,,,,,,,,,,,,,
Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.0,0.0,10689720.0,252072.0,4272776.0,11333126.0,...,0.392854,2.02,0.711632,0.0,0.0,1,NaN,1.129518,0.044335,0
Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.0,0.0,898979.0,497531.0,9073814.0,2533168.0,...,0.314281,8.08,0.183584,NaN,0.0,1,349.80573,1.620483,0.322436,0

## Feature Engineering

In [46]:
train[['form_field32', 'form_field33']]

               form_field32  form_field33
Applicant_ID
Apcnt_1000000        1052.0        8.0000
Apcnt_1000004        2554.0       17.5000
Apcnt_1000008          70.0        0.6666
Apcnt_1000012         522.0        7.8334
Apcnt_1000016         272.0        1.0000
...                     ...           ...
Apcnt_999968          864.0       21.6666
Apcnt_999972          242.0       14.6666
Apcnt_999980          232.0       22.3334
Apcnt_999988          104.0       57.5000
Apcnt_999996         1410.0        0.8334

[56000 rows x 2 columns]

### Separating the Target from the predictors

In [9]:
y = train.pop("default_status")

train.head(2)

,form_field1,form_field2,form_field3,form_field4,form_field5,form_field6,form_field7,form_field8,form_field9,form_field10,...,form_field41,form_field42,form_field43,form_field44,form_field45,form_field46,form_field47,form_field48,form_field49,form_field50
Applicant_ID,,,,,,,,,,,,,,,,,,,,,
Apcnt_1000000,3436.0,0.28505,1.6560,0.0,0.0,0.0,10689720.0,252072.0,4272776.0,11333126.0,...,NaN,0.392854,2.02,0.711632,0.0,0.0,1,NaN,1.129518,0.044335
Apcnt_1000004,3456.0,0.67400,0.2342,0.0,0.0,0.0,898979.0,497531.0,9073814.0,2533168.0,...,NaN,0.314281,8.08,0.183584,NaN,0.0,1,349.80573,1.620483,0.322436

### Handling Missing Values

In [10]:
print("Total number of rows in Train data: ", train.shape[0])

train.isnull().sum()

Total number of rows in Train data:  56000

form_field1      2529
form_field2      3844
form_field3       355
form_field4       355
form_field5       355
form_field6     13360
form_field7      5163
form_field8     13360
form_field9      8008
form_field10      355
form_field11    31421
form_field12     9895
form_field13     5889
form_field14        0
form_field15    22475
form_field16    13036
form_field17    11151
form_field18    10402
form_field19        4
form_field20      355
form_field21    15854
form_field22    20400
form_field23    28123
form_field24    13297
form_field25     5450
form_field26     7438
form_field27     9299
form_field28      355
form_field29      355
form_field30    25509
form_field31    39408
form_field32     5450
form_field33     1256
form_field34      355
form_field35    23148
form_field36     1995
form_field37     5450
form_field38      355
form_field39     4211
form_field40    43729
form_field41    38229
form_field42     1323
form_field43      568
form_field44     5383
form_field45    31317
form_field46    15904
form_field47        0
form_field48    20889
form_field49      355
form_field50    11056
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

zero_imputer = SimpleImputer(strategy='constant', fill_value=0, add_indicator=True)
constant_imputer = SimpleImputer(strategy='constant', fill_value=-999)

In [12]:
imputed_train = zero_imputer.fit_transform(train)
imputed_test = zero_imputer.transform(test)

## Scaling the data

In [34]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
scaler_mm = MinMaxScaler()

mscaled_train = scaler_mm.fit_transform(imputed_train)
mscaled_test = scaler_mm.transform(imputed_test)

## Modelling

### Local Validation

In [17]:
from sklearn.model_selection import cross_val_score
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

model1 = CatBoostClassifier(verbose=False)
model2 = CatBoostClassifier(verbose=False)
model3 = CatBoostClassifier(verbose=False)

In [18]:
def validate(train, model):
    cv_score = cross_val_score(model, train, y, cv=5, n_jobs=-1, scoring="roc_auc")
    print(cv_score)
    print(np.mean(cv_score))
    print(np.mean(cv_score) + np.std(cv_score))

In [44]:
validate(mscaled_train, model2)

[0.83877608 0.83561804 0.84111318 0.83041145 0.84686401]
0.8385565528016297
0.8440442830734819

### Final Modelling

In [19]:
def fit_and_predict(train, test, model):
    model.fit(train, y)
    return model.predict_proba(test)[:, 1]

In [20]:
# pred_m = fit_and_predict(mscaled_train, mscaled_test, model2)
pred_r = fit_and_predict(rscaled_train, rscaled_test, model3)

In [21]:
sample_sub = pd.read_csv("SampleSubmission.csv")

In [50]:
sample_sub.default_status = pred_m
sample_sub.to_csv("sub_mm", index=False)

In [23]:
sample_sub.default_status = pred_r
sample_sub.to_csv("sub_robust", index=False)

In [24]:
sample_sub.head(2)

    Applicant_ID  default_status
0  Apcnt_1000032        0.347374
1  Apcnt_1000048        0.227058

### Next Steps

How do we improve our model's accuracy?